@import "reset.scss";
@import "vars.scss";

@mixin searchResFoodNutr{
  display: none;
  height: 128px;
  width: 128px;
  border-radius: 12px;
  position: absolute;
  background: hsla(0, 0%, 35%, 0.85);
  z-index: 5;
  margin-top: 14px;
  color:white;
  font-size: 14px;
  padding:14px;
}

@mixin searchResFoodRes{
  #foodRes0{
    //background: red!important;
    #foodNutr0{
      @include searchResFoodNutr();
    }
    &:hover>#foodNutr0{
      display: block;
    }
  }
  #foodRes1{
    //background: red!important;
    #foodNutr1{
      @include searchResFoodNutr();
    }
    &:hover>#foodNutr1{
      display: block;
    }
  }
  #foodRes2{
    //background: red!important;
    #foodNutr2{
      @include searchResFoodNutr();
    }
    &:hover>#foodNutr2{
      display: block;
    }
  }
  #foodRes3{
    //background: red!important;
    #foodNutr3{
      @include searchResFoodNutr();
    }
    &:hover>#foodNutr3{
      display: block;
    }
  }
  #foodRes4{
    //background: red!important;
    #foodNutr4{
      @include searchResFoodNutr();
    }
    &:hover>#foodNutr4{
      display: block;
    }
  }
  #foodRes5{
    //background: red!important;
    #foodNutr5{
      @include searchResFoodNutr();
    }
    &:hover>#foodNutr5{
      display: block;
    }
  }
}
.gmd {
  background: #fff;
  border-radius: 2px;
  display: block;
  float: left;
  height: 150px;
  margin: 1rem;
  position: relative;
  width: 150px;
}

.gmd-1 {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.gmd-1:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.gmd-2 {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.gmd-3 {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.gmd-4 {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.gmd-5 {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

body, input, select, button {
  font-family: $sans-serif !important;
}

.header {
  width: 100%;
  height: 80px;
  padding: 0 96px 0 96px;
  background-color: $primaryColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .header-brand {
    font: normal 32px $sans-serif;
    margin-bottom: 4px;
    .bold {
      font-weight: bold;
    }
  }
  .header-link {
    font-weight: bold;
    &:hover {
      color: white;
    }
    &:active {
      color: white;
    }
  }
}

.view {
  padding: 48px 96px 48px 96px;
  min-height: calc(100vh - 128px);
}
.footer {
  display: flex;
  height: 256px;
  background-color: $primaryColor;
  flex-direction: column;
  justify-content: flex-end;
  .footer-top {
    padding: 0 96px 0 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 224px;
  }
  .footer-bottom {
    padding: 0 96px 0 96px;
    background-color: white;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    .copyright {
      margin-left: 20%;
    }
  }
  .footer-item {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .bold {
      font-weight: bold;
    }
  }
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .home-illustration {
    min-width: 35%;
    height: 321px;
    border: solid black 1px;
  }
  .home-titles {
    min-width: 65%;
    padding-left: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .title {
    font-size: 48px;
    margin-bottom: 48px;
    .bold {
      font-weight: bold;
    }
  }
  .subtitle {
    font-size: 20px;
    margin-bottom: 48px;
  }
  .btn-login {
    width: 280px;
  }
}

.btn-hide {
  height: 1px;
  width: 1px;

}

.login {
  padding: 32px 64px 0;
  margin-top: 64px;
  width: 480px;
  height: 312px;
  border-radius: 12px;
  .modal-footer {
    display: none;
  }
  .modal-content {
    padding: 0;
  }
  .login-header {
    font: bold 20px $sans-serif;
    margin-bottom: 16px;
    text-align: center;
  }
  .btn-login {
    margin-top: 8px;
    width: 100%;
    background: transparent;
  }
  .input {
    height: 40px !important;
    &:focus {
      border-bottom: 1px solid $primaryColor !important;
      -webkit-box-shadow: 0 1px 0 0 $primaryColor !important;
      box-shadow: 0 1px 0 0 $primaryColor !important;
    }
  }
  .label {
    color: black;
  }
  .text {
    margin-bottom: 17px;
  }
  .forgot {
    display: block;
    font-size: 12px;
    text-decoration: black;
    text-align: center;
    text-decoration: underline;
    margin: 8px 0 16px;
    cursor: pointer;
  }
}

.btn-login {
  padding: 8px 24px;
  border: 1px solid black;
  font-weight: bold;
  display: flex;
  cursor: pointer;
  text-decoration: none;
  justify-content: center;
  &:hover, :active {
    background-color: black;
    color: white;
    transition: 0.1s;
    font-weight: 700;
  }
}

.searchbar {
  background: $secondaryColor;
  display: flex;
  border-radius: 12px;
  padding: 24px 24px 12px;
  flex-direction: column;
  margin-bottom: 32px;
  width: 100%;
  height: 218px;
  margin-left:auto;
  margin-right:auto;
  .search-header {
    display: flex;
    margin-bottom: 16px;
    align-items: center;
    height: 32px;
    input.qty-input {
      font: normal 18px $sans-serif;
      margin: 0 0 0 auto;
      width: 60px;
      background: white;
      height: 24px;
      border-radius: 6px;
      padding:4px 12px;
      &:focus {
        border-bottom: 1px solid $primaryColor !important;
        -webkit-box-shadow: 0 1px 0 0 $primaryColor !important;
        box-shadow: 0 1px 0 0 $primaryColor !important;
      }
    }
    .qty-label {
      display: block;
      margin-left: 4px;
      font: bold 16px $sans-serif;
    }
    .search-input{
      font: normal 16px $sans-serif !important;
      border-radius: 6px!important;
      margin: 24px 0 0!important;
      background: white !important;
      padding:4px 12px!important;
      height: 24px!important;
      &:focus {
        border-bottom: 1px solid $primaryColor !important;
        -webkit-box-shadow: 0 1px 0 0 $primaryColor !important;
        box-shadow: 0 1px 0 0 $primaryColor !important;
      }
    }
    i.material-icons.prefix {
      margin: 19px 0;
    }
    .input-field{
      margin-top:-0.5rem!important;
    }
    .input-field .prefix{
      top:0.35rem!important;
      right:-13%!important;
      width:32px!important;
      &.active, :hover {
        color: $primaryColor !important;
      }
    }
    .input-field .prefix ~ input{
      width:105%!important;
    }
    .icon-click{
      height: 34px;
      width: 34px;
      z-index: 1;
      cursor:pointer !important;
    }
    .search-title {
      font: bold 24px $sans-serif;
      margin-right: 32px;
    }
  }
  .search-results {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 144px;
    margin-bottom: -16px;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      width: 0;  /* Remove scrollbar space */
      background: transparent;  /* Optional: just make scrollbar invisible */
    }
    &::-webkit-scrollbar-thumb {
      background: transparent;
      border-radius: 5px;
      opacity: 0.1;
    }
  }

  .api-item {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: grab;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background: white;
    border-radius: 12px;
    margin-right: 16px;
    min-width: 172px;
    height: 124px;
    font-size:18px;
    padding: 12px;
    .food-title {
      padding: 0 0 4px;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      border-bottom: 3px black solid;
      font: bold 15px $sans-serif;
      text-transform: capitalize;
    }
    .food-info {
      font: 13px $sans-serif;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .info-line {
        display: flex;
        border-bottom: 1px black solid;
      }
      .info-line:last-child {
        border-bottom: none;
      }
      .nutrient-name {
        font-weight: bold;
        margin-right: auto;
      }
    }
  }
  /*@include searchResFoodRes();*/
}

.dragDropTest{
  background: $secondaryColor;
  padding:10px;
  margin:auto;
  width:200px;
  height:170px;
  margin-bottom:40px;
  text-align: center;
  .dragBox{
    background: white;
    margin-top:10px;
    height:80%;
  }
}

.mealplan {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-collapse: inherit;
  background: lightgray;
  th, td {
    text-align: center;
    font-size: 14px;
  }
  td.dropBox {
    background: white;
    border: 4px solid lightgray;
    border-radius: 12px;
    min-height: 64px;
    height: 78px;
    padding: 4px;
    max-width: 50px;
    width: 14%;
  }
  .plan-item {
    background: gray;
    margin-bottom: 4px;
    cursor: pointer;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    &.active {
      background: crimson;
    }
  }
  .plan-header {
    background: $secondaryColor;
    padding: 0;
    font: bold 20px $sans-serif;
    th {
      height: 10px;
      padding: 8px;
      border-radius: 0;
    }
    th:first-child {
      border-top-left-radius: 12px;
    }
    th:last-child {
      border-top-right-radius: 12px;
    }
  }
}

.mp-settings {
  display: flex;
  background: lightgray;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  .btn-login {
    height: 20px ;
    font-size: 12px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    border: $secondaryColor;
    &:first-child{
      border-bottom-left-radius: 12px;
    }
  }
  .add {

  }
  .rm {

  }
  .save {
    border-bottom-right-radius: 12px;
  }
  .del {
    margin-right: auto;
  }
}

.create-help {
  display: flex;
  margin-bottom: 16px;
  flex-direction: row;
  .title {
    font: bold 48px $sans-serif;
    margin-bottom: 32px;
  }
  .help-pic {
    min-width: 40%;
    border: solid black 1px;
    margin-right: 32px;
    height: 600px;
  }
  p {
    font: 22px $sans-serif;
    margin-bottom: 8px;
  }
  .btn-login {
    margin-top: 32px;
  }
}

.foodItem{
  position: relative;
  margin: 4px 0;
  background: #fafafa;
  border-radius: 8px;
  .foodItemTitle{
    padding:8px 24px 8px 8px;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 8px;
    text-transform: capitalize;
    text-align: left;
    position: relative;
    font: bold 11px "Montserrat";
    .foodItemDel{
      display:none;
      z-index: 1;
    }
    &:hover>.foodItemDel{
      display: block;
      border-radius: 20px;
      position: absolute;
      top:-2px;
      right:0px;
      padding:0px!important;
      &:hover{
        color: #f44336;
      }
    }
  }
  .foodItemQty {
    position: absolute;
    right: 0;
    padding: 0 20px 0 2px;
    background: #fafafa;
  }
}

.nutriscore {
  background: #c4c4c4;
  border-radius: 12px;
  padding: 24px;
  margin-top: 32px;
  font: bold 24px $sans-serif;
  .title {
    margin-bottom: 12px;
  }
  .nutribar-container {
    display: flex;
    flex-flow: row-reverse;
    margin-bottom: 6px;
  }
  .counter {
    z-index: 1;
    font: normal 16px $sans-serif;
    white-space: nowrap;
  }
  .subtitle {
    font: bold 16px $sans-serif;
    white-space: nowrap;
    width: 80px;
    margin-right: 24px;
    display: flex;
  }
}

.nutribar {
  //border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: lightgray;
  border-radius: 12px;
  width: 100%;
  margin: auto;
  height: 18px;
  .bar {
    display: block;
    position: absolute;
    left: 0;
    height: 18px;
    border-radius: 12px;
    width: 0;
    max-width: 101%;
    &#kcalbar {
      background: $kcalColor;
    }
    &#protsbar {
      background: $protsColor;
    }
    &#carbsbar {
      background: $carbsColor;
    }
    &#fatsbar {
      background: $fatsColor;
    }
  }
}

.profile {
  display: flex;
  min-height: calc(100vh - 80px);
}
.profile-sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $primaryColor-s1;
  color: black;
  min-width: 26%;
  padding: 48px 24px 24px;
  min-height: 100%;
  text-align: center;
  align-items: center;
  .name {
    margin: 8px 0 8px;
    font: bold 20px $sans-serif;
  }
  .email {
    margin: 0 0 48px;
    font: 18px $sans-serif;
  }
  .edit-pwd {
    font: 16px $sans-serif;
    text-decoration: underline;
    &:hover {
      color: white;
    }
  }
  .edit-dets {
    width: 156px;
    margin-bottom: 8px;
  }
}

.profile-details {
  width: 44%;
  padding: 48px;
  .title {
    font: bold 32px $sans-serif;
    margin-bottom: 24px;
  }
  .table {
    display: flex;
    flex-direction: column;
    width: auto;
    text-align: left;
  }
  .row {
    display: flex;
    width: auto;
    clear: both;
  }
  .cell {
    display: flex;
    align-items: center;
    width: 200px;
    height: 48px;
    &.bold {
    font-weight: bold;
    }
    div.input-field.col {
      padding: 0;
      width: 100%;
    }
    ul.dropdown-content {
      li > span {
        color: black !important;
      }
      li.selected > span {
        color: $primaryColor !important;
        font-weight: bold;
      }
      li.disabled > span {
        color: gray !important;
      }
    }
    input, select {
      min-width: 100%;
      height: 40px;
      margin:0;
      padding: 0;
      &:focus {
        border-bottom: 1px solid $primaryColor !important;
        -webkit-box-shadow: 0 1px 0 0 $primaryColor !important;
        box-shadow: 0 1px 0 0 $primaryColor !important;
      }
    }
  }
  .submit {
    -webkit-appearance: none;
  }
}

.profile-achievements {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 48px 48px 48px 0;
  .title {
    font: bold 32px $sans-serif;
    margin-bottom: 24px;
  }
}

.results{
  display: flex;
  flex-direction: row;
}

.register-form {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.register-header {
  font: bold 32px $sans-serif;
}



.plan{
  //position: center;
  margin: auto;
  width: 50%;
  text-align: center;
  justify-content: center;
  padding: 10px;
}