
$primaryColor: palegreen;
$primaryColor-s1: #aefba4;
$secondaryColor: #c4c4c4;

$kcalColor: palegreen;
$protsColor: #FA7C92;
$carbsColor: #95D4E4;
$fatsColor: #F4E684;

$sans-serif:  'Montserrat', sans-serif;


